.plugin-api-listings {
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px;

    .sort-form,
    .sort-form-classic {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
        margin-bottom: 15px;
        select {
            background-color: #fff;
            border-width: 1px;
            height: 45px;
            color: #6B7280;
            border-color: #D1D5DB;
            height: 45px;
            appearance: auto;
            font-size: 16px;
            padding: 0 19px !important;
        }

        .bedroom-filter-container,
        .bathroom-filter-container {
            width: 50%;

            select {
                width: 100%;
            }
        }
    }

    .listing-filter-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding-top: 20px;
        border-top: 2px solid #d9d9d9;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
    }

    .listing-filter-clear-all {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #1e3449;
        cursor: pointer;
        img {
            width: 20px;
        }
    }

    .listing-filter-pills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
    }

    .listing-filter-pill {
        background-color: #d9d9d9;
        color: #1e3449;
        padding: 10px 20px;
        border-radius: 30px;
        pointer-events: auto;
        cursor: pointer;
        align-items: center;
        gap: 10px;

        span {
            font-family: 'Arial', sans-serif;
            font-weight: 700;
            font-size: 10px;
        }
    }

    .listing-result-count {
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #1e3449;
        align-items: center;
    }

     #api-listings-loading-spinner {
        display: none;
        /* Hidden by default */
        position: relative;
        margin-top: 45px;
        z-index: 999;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Arial', sans-serif;
        animation: fadeInOut 2s infinite;
    }

    @keyframes fadeInOut {
        0%, 100% {
            opacity: 0.25;
        }
        50% {
            opacity: 1;
        }
    }

    #listings-pagination-container {
        text-align: left;
    }

    .button-api-listing {
        font-size: 16px;
        padding: 15px 25px;
        font-weight: 700;
        color: var(--button-text-color);
        background-color: var(--button-color);
        font-family: 'Arial', sans-serif;
        // border-radius: 6px;
        text-transform: uppercase;
        margin-top: 10px;
        line-height: 1;
        text-decoration: none;
    }


    .no-listings-found {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: #252525;
        font-family: 'Arial', sans-serif;
        padding: 15px;
        grid-column: span 3
    }
}

#plugin-api-listings-container {
    position: relative;

    .next,
    .prev {
        position: absolute;
        top: 38%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 10;
        border-radius: 100%;
        background-color: white;
        color: white;
        padding: 15px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .next {
        right: 5px;
    }

    .prev {
        left: 5px;
    }

    &.not-slider {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    
        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    
        @media (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &.is-slider {
        .unit-listing-wrapper {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .unit-listing {
        display: flex;
        flex-direction: column;
        background-color: var(--card-color);
    }

    &.card-drop-shadow {
        .unit-listing {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        }
    }

    .unit-data {
        min-height: 350px;
        padding: 15px;
        text-align: left;

        a {
            text-decoration: none !important;
        }
    }

    .meta-data,
    .meta-data p {
        font-size: 18px;
        margin-top: 10px;
        color: #252525;
        font-family: 'Arial', sans-serif;
    }

    .unit-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .unit-price {
        font-size: 30px;
        color: #252525;
        font-weight: 700;
        font-family: 'Arial', sans-serif;
    }

    .listing-number,
    .lot-number,
    .list-date,
    .sos-number {
        font-size: 14px;
        color: #252525;
        font-family: 'Arial', sans-serif;
    }

    &.rounded-corners {
        .unit-image {
            border-radius: 10px;
        }
    }

    .unit-image {
        background-size: cover;
        background-position: center;
        min-height: 350px;
        position: relative;
        overflow: hidden;

        .listing-banner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 150%;
            background-color: #1b5774;
            color: white;
            padding: 15px 20px;
            font-weight: bold;
            font-size: 34px;
            font-family: 'Arial', sans-serif;
            text-align: center;
        }
    }

    .reduced-price {
        background-color: white;
        color: #174579;
        position: absolute;
        top: 30px;
        padding: 5px 20px;
        font-weight: 500;
        font-size: 18px;
        font-family: 'Arial', sans-serif;
    }

    .unit-title {
        font-size: 26px;
        font-weight: 600;
        color: #252525;
        font-family: 'Arial', sans-serif;
        text-decoration: none !important;
    }

    &.white-card {
        .meta-data,
        .meta-data p,
        .unit-price,
        .listing-number,
        .lot-number,
        .list-date,
        .sos-number,
        .unit-title {
            color: white;
        }
    }
}