.plugin-api-listings {
    max-width: 1270px;
    margin: 0 auto;
    padding: 15px 30px;

    .sort-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;
        margin-bottom: 15px;
        select {
            background-color: #fff;
            border-width: 1px;
            height: 45px;
            color: #252525;
            border-color: #252525;
            width: 300px !important;
            max-width: 100%;
            height: 45px;
            appearance: auto;
            font-size: 16px;
            padding: 0 5px !important;
        }
    }

    .listing-filter-pills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;
        margin-bottom: 15px;
    }

    .listing-filter-pill {
        background-color: #1b5774;
        color: white;
        padding: 10px 20px;
        border-radius: 30px;
    }

     #api-listings-loading-spinner {
        display: none;
        /* Hidden by default */
        position: relative;
        margin-top: 45px;
        z-index: 999;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Arial', sans-serif;
        animation: fadeInOut 2s infinite;
    }

    @keyframes fadeInOut {
        0%, 100% {
            opacity: 0.25;
        }
        50% {
            opacity: 1;
        }
    }

    #listings-pagination-container {
        text-align: left;
    }

    .button-api-listing {
        font-size: 18px;
        padding: 15px 25px;
        font-weight: 700;
        color: var(--button-text-color);
        background-color: var(--button-color);
        font-family: 'Arial', sans-serif;
        border-radius: 6px;
        text-transform: uppercase;
        margin-top: 15px;
        line-height: 1;
        text-decoration: none;
    }
}

#plugin-api-listings-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    .no-listings-found {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: #252525;
        font-family: 'Arial', sans-serif;
        padding: 15px;
        grid-column: span 3
    }

    .unit-listing {
        display: flex;
        flex-direction: column;
        background-color: var(--card-color);
    }

    &.card-drop-shadow {
        .unit-listing {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        }
    }

    .unit-data {
        min-height: 350px;
        padding: 15px;
        text-align: left;
    }

    .meta-data,
    .meta-data p {
        font-size: 20px;
        margin-top: 15px;
        color: #252525;
        font-family: 'Arial', sans-serif;
    }

    .unit-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .unit-price {
        font-size: 34px;
        color: #252525;
        font-family: 'Arial', sans-serif;
    }

    .listing-number,
    .list-date,
    .sos-number {
        font-size: 14px;
        color: #252525;
        font-family: 'Arial', sans-serif;
    }

    .unit-image {
        background-size: cover;
        background-position: center;
        min-height: 350px;
        position: relative;
    }

    .reduced-price {
        background-color: white;
        color: #174579;
        position: absolute;
        top: 30px;
        padding: 5px 20px;
        font-weight: 500;
        font-size: 18px;
        font-family: 'Arial', sans-serif;
    }

    .unit-title {
        font-size: 26px;
        font-weight: 600;
        color: #252525;
        font-family: 'Arial', sans-serif;
        text-decoration: none !important;
    }

    &.white-card {
        .meta-data,
        .meta-data p,
        .unit-price,
        .listing-number,
        .list-date,
        .sos-number,
        .unit-title {
            color: white;
        }
    }
}